{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css\registration\password_reset_confirm.css' %}">  
    <title>Atualizar Senha</title>
</head>
<body>
    
<div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>

    <div class="container">
        <div class="image-section">
            <img src="{% static 'assets\img\portfolio\image.png' %}" alt="Imagem de login">
        </div>
        <div class="form-section">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
                
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
                
                <button type="submit">Atualizar senha</button>
            </form>
            <button class="back-button">Voltar</button>
        </div>
    </div>
</body>
</html>
{% endblock %}