{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css\registration\password_reset_form.css' %}">
    <title>Recuperação de Senha</title>
</head>
<body>
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
      </div>
      <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
      <script>
            new window.VLibras.Widget('https://vlibras.gov.br/app');
      </script>
    <div class="container">
        <div class="left">
            <img src="{% static 'assets\img\portfolio\illustration.png' %}" alt="Esqueceu sua senha ilustação">
        </div>
        <div class="right">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <h2> Esqueceu sua senha?</h2>
                <div class="input-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
                <button type="submit" class="reset-btn">Trocar senha</button>
            </form>
            <a href="/accounts/login/" class="backbutton">Voltar</a>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>