{% load static %}
{% block content %}

{% block title %}Email Enviado{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css\registration\password_reset_done.css' %}">
  <title>Document</title>
</head>
<body> 
  <div class="container">
    <h1>Verifique sua caixa de entrada.</h1>
    <p>Enviamos instruções para redefinir sua senha. Você deve receber o email em breve!</p>
    <div class="button-container">
      <a href="{% url 'login' %}">Voltar ao Login</a>
    </div>
  </div>
</body>
</html>
{% endblock %}
