body {
    overflow-x: hidden;
}

.tudo {
    background-color: var(--color-bg-white-1);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 37px;
    font-weight: bold;
    text-align: center;
    color: var(--color-bg-black);
}

.container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-blue-5);
    left: 5%;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
}

.sessao1 {
    width: 100%;
    height: 13%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.par1,
.par2,
.par3 {
    width: 33%;
    height: 100%;
}

.par3 img {
    width: 33%;
    height: auto;
}

.par2 {
    position: relative;
    left: 34%;
    justify-items: center;
    text-align: center;
    display: flex;
}

.par3 {
    left: 55%;
    position: relative;
}

.par1 {
    background-color: var(--color-bg-blue-3);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-right: 6vw solid transparent;
    border-top: 12vh solid var(--color-bg-white-1);
}

.sessao2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sessao2 form {
    width: 100%;
    max-width: 800px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.sessao2 label {
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--color-bg-black);
}

.sessao2 input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.sessao3 {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.butt {
    padding: 10px 20px;
    background-color: var(--color-bg-blue-3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s;
    margin-bottom: 10px;
}

.butt:hover {
    transform: scale(1.1);
    background-color: #4f7193;
    color: #ffffff;
}

input:hover {
    transform: scale(1.02);
}

input {
    transition: 0.2s;
}

.error {
    color: var(--color-bg-black);
    font-size: 0.875em;
    margin-top: 5px;
}

.form-error {
    color: var(--color-bg-black);
    font-size: 1em;
    margin-bottom: 20px;
}
