{% extends '_base.html'%}
{% load static %}
{% block content %}
{% include '_topbar.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css\curriculo\form_curriculo.css' %}">
    <title>Formulário de Cadastro</title>
</head>

<body>
    <div class="tudo">
        <div class="form-container">
            {% if form.errors %}
            <div class="errors">
                <ul>
                    {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <form method="post" action="/curriculo/criar/">
                {% csrf_token %}
                {% for form in form %}
                <div class="mb-3">
                    {{ form.label }}
                    {{ form }}
                </div>
                {% endfor %}
                <div class="form-row">
                        <button class="buttoncad"  type="submit">Cadastrar Currículo</button>
                </div>
            </form>

            <div class="corner-fold2"></div>
        </div>
        <div class="corner-fold"></div>
    </div>
</body>

</html>

<script src="{% static 'js/jquery-3.7.1.js' %}"></script>
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>

    $(document).ready(function () {

        var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
        },
            spOptions = {
                onKeyPress: function (val, e, field, options) {
                    field.mask(SPMaskBehavior.apply({}, arguments), options);
                }
            };

        $('#id_telefone ').mask(SPMaskBehavior, spOptions);
    });

</script>

{% endblock %}